@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;600&family=STIX+Two+Text:wght@400;500;700&family=Signika+Negative:wght@400;500&display=swap');
/* font-family: 'STIX Two Text',
serif; */
/* font-family: 'Clash Display',
sans-serif;
font-family: 'Satoshi', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.satoshi {
  font-family: 'Satoshi', sans-serif;
}
.clash {
  font-family: 'Clash Display', sans-serif;
}
.stix {
  font-family: 'STIX Two Text', serif ;
}